<div id="section-header" class="section">

    <div data-section-id="header" data-section-type="header-section">
      
      <div class="announcement-bar">
        <p class="announcement-bar__message">{{locationName}}</p>
      </div>

      <header class="site-header logo--center" role="banner">
        <div class="grid grid--no-gutters grid--table">
          <div class="grid__item small--one-half medium--one-third large-up--one-quarter logo-align--center">
            <h1 class="h2 site-header__logo" itemscope="" itemtype="http://schema.org/Organization">
              <a href="/" itemprop="url" class="site-header__logo-image site-header__logo-image--centered">
                <img
                  src="assets/hs-logo.png"
                  alt="Hammer &amp; Stain Pottstown" itemprop="logo">
              </a>
            </h1>
          </div>
        </div>
      </header>


      <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
        <ul class="site-nav list--inline site-nav--centered" id="SiteNav">
          <li class="site-nav--active">
            <a routerLink="/home" class="site-nav__link site-nav__link--main">Home</a>
          </li>

          <li>
            <a routerLink="/products" class="site-nav__link site-nav__link--main">Projects</a>
          </li>

          <li>
            <a routerLink="/materials" class="site-nav__link site-nav__link--main">Materials</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>