<div class="row">
    <div class="col" style="text-align: center;">
        <h2>Project Cost Calculator</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mx-auto" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">Products</h5>
                <p class="card-text">
                    Total Products: {{totalProducts}}<br />
                    Average Cost: {{averageProductCost | currency}}<br />
                    Average Markup: {{averageProductMarkup | percent}}<br />
                </p>
                <a href="/projects" class="btn btn-primary">View Products</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mx-auto" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">Materials</h5>
                <p class="card-text">
                    Total Materials: {{totalMaterials}}<br />
                    Average Cost: {{averageMaterialCost | currency}}<br />
                </p>
                <a href="/materials" class="btn btn-primary">View Materials</a>
            </div>
        </div>
    </div>
</div>
